<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：商品
    </div>
    <div class="pannel">
        <span class="sel_label">请选择商品分类：</span>
        <form id="form" method="get" action="/goodsspu/add">
            <select name="select" id="select" class="sel_opt">
            <option value="">All</option>
            {{range .types}}{{if compare .TypeName $.typename}}<option selected>{{.TypeName}}</option>{{else}}<option>{{.TypeName}}</option>{{end}}{{end}}
            </select>
            <input type="submit" hidden="hidden">
        </form>
        <table class="common_table">
            <tr>
                <th width="40%">商品名称</th>
                <th width="20%">商品分类</th>
                <th width="20%">详情</th>
                <th width="20%">管理操作</th>
            </tr>
            {{range .goodsList}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.GoodsType.TypeName}}</td>
                <td><a href="/goodsspu/detail?id={{.Id}}">查看详情</a></td>
                <td>
                    <a href="/goods/add?goods_id={{.Id}}">SKU</a>
                    <a href="/goodsspu/update?id={{.Id}}" class="edit">编辑</a>
                    <a href="javascript:" class="edit" onclick="remove({{.Id}})">删除</a>
                </td>
            </tr>
            {{end}}
        </table>
        <ul class="pagenation">
        {{if compare .page 1}}
                {{else}}
            <li><a href="/goodsspu/add?p=1&select={{.typename}}">首页</a></li>
            <li><a href="/goodsspu/add?p={{.page | prepage}}&select={{.typename}}">上一页</a></li>
        {{end}}
        {{if compare .page .pageCount}}
                {{else}}
            <li> <a href="/goodsspu/add?p={{nextpage .page .pageCount}}&select={{.typename}}">下一页</a></li>
            <li><a href="/goodsspu/add?p={{.pageCount}}&select={{.typename}}">末页</a></li>
        {{end}}
            <li>共{{.totalRows}}条记录/共{{.pageCount}}页/当前{{.page}}页</li>
        </ul>
        <div class="pannel">
            <form id="add_form">
                <h3 class="review_title">添加商品SPU</h3>
                <div class="form_group">
                    <label>商品SPU名称：</label>
                    <input type="text" class="input_txt2" name="name" >
                </div>
                <div class="form_group">
                    <label>商品分类：</label>
                    <select name="typename" id="select" class="sel_opt">
                    <option value="">Please Choose</option>
                    {{range .types}}<option>{{.TypeName}}</option>{{end}}
                    </select>
                </div>
                <div class="form_group">
                    <label>商品描述：</label>
                    <input type="text" class="input_txt2" name="desc" >
                </div>
                <div class="form_group indent_group line_top">
                    <input id="submit" type="button" value="添 加" class="confirm">
                    <span id="errmsg"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var submitting = false
    $("#submit").click(() => {
        if (submitting) return
        submitting=true
        $("#errmsg").text("adding")
        $.ajax({
            method:"POST",
            url:"/goodsspu/add",
            data:$("#add_form").serialize(),
            dataType:"json",
            success:data => {
                submitting = false
                if (data.code == 0) {
                    location.href="/goodsspu/add"
                } else {
                    $("#errmsg").text(data.msg)
                }
            },
            error:(o,s,e) => {
                submitting = false
                $("#errmsg").text("error network")
            }
        })
    })

    function remove(id) {
        if (confirm("Are you sure to delete it")) {
            $.ajax({
                method:"POST",
                url:"/goodsspu/delete",
                data:{
                    id:id
                },
                dataType:"json",
                success:data => {
                    if (data.code == 0) {
                        location.reload(true)
                    } else {
                        alert(data.msg)
                    }
                },
                error:(o,s,e) => {
                    alert("error network")
                }
            })
        }
    }
</script>