<div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：商品>商品SPU详情
        </div>
        <div class="pannel">
            <h3 class="review_title">商品SPU详情</h3>
            <div class="form_group">
                <label>商品名称：</label>
                <p class="detail"><b>{{.goods.Name}}</b></p>
            </div>
            <div class="form_group">
                <label>商品分类：</label>
                <p class="detail"><b>{{.goods.GoodsType.TypeName}}</b></p>
            </div>
            <div class="form_group">
                <label>商品介绍：</label>
                <p class="detail"><b>{{.goods.Desc}}</b></p>
            </div>
        </div>
</div>