<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="login_logo">
        <img src="/static/img/logo.png" alt="">
    </div>
    <form  class="login_form" id="form">
        <h1 class="login_title">用户注册</h1>
        <input type="text" placeholder="用户名" class="input_txt" name="username">
        <input type="password" placeholder="密码" class="input_txt" name = "password">
        <input id="submit" type="button" value="注 册" class="input_sub">
    </form>
    <div class="login_bg"></div>
</body>
<script>
    var submitting = false
    $("#submit").click(() => {
        if (submitting) return
        submitting=true
        $.ajax({
            method:"POST",
            url:"/register",
            data:$("#form").serialize(),
            dataType:"json",
            success:data => {
                submitting = false
                if (data.code == 0) {
                    location.href="/login"
                } else {
                    alert(data.msg)
                }
            },
            error:(e,o,s) => {
                submitting = false
                alert("error network")
            }
        })
    })
</script>
</html>